@charset "UTF-8";

@import "http://fonts.fontstorage.com/import/ptsans.css";

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* BravoRG */

@font-face {
  font-family: "BravoRG";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("BravoRG Regular"), local("BravoRG-Regular"), url("../fonts/BravoRGRegular.woff2") format("woff2"), url("../fonts/BravoRGRegular.woff") format("woff");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* pfdin */

/* pfdin-400 regular*/

@font-face {
  font-family: "pfdin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("pfdin Regular"), local("pfdin-Regular"), url("../fonts/pfdintextcondpro-regular.woff2") format("woff2"), url("../fonts/pfdintextcondpro-regular.woff") format("woff");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* pfdin-500 medium */

@font-face {
  font-family: "pfdin";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("pfdin Medium"), local("pfdin-Medium"), url("../fonts/pfdintextcondpro-medium.woff2") format("woff2"), url("../fonts/pfdintextcondpro-medium.woff") format("woff");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* Ceremonious_one*/

@font-face {
  font-family: "Ceremonious_one";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ceremonious_one Regular"), local("Ceremonious_one-Regular"), url("../fonts/ceremonious_one.woff2") format("woff2"), url("../fonts/ceremonious_one.woff") format("woff");
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}

.header {
  background-color: #1c242a;
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  letter-spacing: 0;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75px;
}

.header__logo {
  width: 144px;
  z-index: 100;
}

.menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 0 0 0 3.1578947368%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu__item {
  margin: 0 15px;
}

.menu__link,
.action-header__region {
  font-family: "pfdin", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #ffffff;
}

.menu__link:hover,
.action-header__region:hover {
  text-decoration: underline;
}

.burger-menu {
  display: none;
}

.action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.action-header__user {
  margin: 0 0 0 30px;
}

.action-header__region {
  position: relative;
  z-index: 100;
  background: url("../img/header/globe.png") left center no-repeat;
  padding-left: 30px;
  min-width: 18px;
  min-height: 18px;
}

.user-header__icon {
  display: block;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.user-header__menu {
  min-width: 175px;
  height: 165px;
  position: absolute;
  top: 88px;
  right: 0;
  padding: 20px;
  background-color: #1c242a;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.user-header__menu._active {
  top: 78px;
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.user-header__item {
  margin: 0 0 10px 0;
}

.user-header__item:last-child {
  margin: 0;
}

.user-header__link {
  font-family: PT Sans, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding: 0 0 0 30px;
}

.user-header__link_1 {
  background: url("../img/header/menu-glob.png") left center no-repeat;
}

.user-header__link_2 {
  background: url("../img/header/menu-key.png") left center no-repeat;
}

.user-header__link_3 {
  background: url("../img/header/menu-hand.png") 4px center no-repeat;
}

.user-header__link_4 {
  background: url("../img/header/menu-hammer.png") left center no-repeat;
}

.main-slider {
  position: relative;
}

.main-slider__control {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 2;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-slider__control:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.control-main-slider__arrow {
  position: relative;
  z-index: 2;
  background: url("../img/main-slider/slider-arrow.png") 2px 0 no-repeat;
  width: 14px;
  height: 24px;
  cursor: pointer;
}

.control-main-slider__arrow_next {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.control-main-slider__decor {
  width: 26px;
  height: 26px;
  position: relative;
  z-index: 2;
  margin: 0 12px;
  -webkit-animation: rotate 3s infinite linear;
  animation: rotate 3s infinite linear;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
}

.title__item {
  font-family: Ceremonious_one, sans-serif;
  color: #bb9c66;
  font-size: 40px;
  margin: 0 0 0.575em 0;
}

.title__main {
  font-family: pfdin, sans-serif;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 5.25px;
  line-height: calc(40 / 35);
  text-transform: uppercase;
}

.title__main_regular {
  font-weight: 400;
}

.title__main_white {
  color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  text-align: center;
  border: 3px solid #c3a673;
  font-family: "pfdin", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.btn_big {
  font-size: 21px;
  color: #000000;
  font-weight: 500;
  letter-spacing: 0;
  padding: 5px 15px;
}

.item-main-slider {
  position: relative;
  padding: 30px 0 100px 0;
  text-align: center;
}

.item-main-slider__content {
  position: relative;
  z-index: 2;
}

.item-main-slider__text {
  max-width: 700px;
  color: #fff;
  font-size: 15px;
  line-height: calc(25 / 15);
  margin: 25px auto 0 auto;
}

.item-main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-main-slider__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
}

.item-main-slider__btn {
  margin: 30px 0 0 0;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lots {
  margin: 85px 0 63px 0;
}

.lots__header {
  margin-bottom: 40px;
}

.block-header__title {
  margin: 0 0 20px 0;
}

.block-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-decor__items {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-decor__items:before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #bb9c66;
}

.block-decor__items:after {
  content: "";
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18px;
  flex: 0 0 18px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0 5px;
}

.block-decor__items span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 5px;
}

.block-decor__items span:before {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
  margin: 0 5px;
}

.block-decor__items span:after {
  content: "";
  width: 10.8px;
  height: 10.8px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.block-decor__items:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.block-decor__items:last-child span {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.block-decor__icon {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
}

.lot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.lot__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.lot__image {
  display: block;
}

.lot__title {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  font-family: "pfdin", sans-serif;
  font-size: 21px;
  line-height: 25/21;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.info-lot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 35px 0;
}

.info-lot__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  text-align: center;
}

.info-lot__icon {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 10px auto;
}

.info-lot__current-bet {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.info-lot__value {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bb9c66;
}

.current-bet-info-lot {
  position: relative;
}

.current-bet-info-lot:after {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  border: 1px solid #bb9c66;
  z-index: -1;
}

.current-bet-info-lot__value {
  font-family: BravoRG, "sans-serif";
  font-weight: 400;
  font-size: 50px;
}

.timer-lot {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 72px;
  height: 72px;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.timer-lot div {
  position: relative;
  z-index: 2;
}

.timer-lot:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.timer-lot__time {
  font-size: 15px;
}

.slider-lots__body {
  margin: 0 -10px 50px -10px;
}

.slider-lots__slide {
  padding: 0 10px;
}

.control-slider-lots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.control-slider-lots__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  background: url("../img/lots/arrow-prev.png") 0 0 no-repeat;
  width: 125px;
  height: 35px;
}

.control-slider-lots__arrow:last-child {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.control-slider-lots__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "pfdin", sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  width: 100px;
  height: 100px;
  margin: 0;
}

.categories {
  margin: 0 0 80px;
}

.categories__items {
  margin: 0 0 85px;
}

.categories__container {
  overflow: hidden;
  position: relative;
}

.categories__container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #ffffff;
}

.categories__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -50px;
  padding: 37px 0 0 0;
}

.categories__column {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  padding: 0 50px 25px;
  margin: 0 0 25px 0;
}

.categories__column:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: #bb9c66;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 20px 0;
}

.categories__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: calc(100% + 9px);
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  transform: translate(50%, 0);
  z-index: 5;
}

.categories__decor:before {
  content: "";
  width: 1px;
  height: 100px;
  background-color: #bb9c66;
}

.categories__decor:after {
  content: "";
  width: 17.28px;
  height: 17.28px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 17.28px;
  flex: 0 0 17.28px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.categories__decor span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories__decor span:before {
  content: "";
  background-color: #bb9c66;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 20px 0;
}

.categories__decor span:after {
  content: "";
  width: 1px;
  height: 100px;
  background-color: #bb9c66;
  margin-bottom: 15px;
}

.text-categories {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: calc(25 / 15);
}

.text-categories__body {
  text-align: justify;
  padding: 15px 15px 15px 100px;
  background: url("../img/categories/text-aside.png") 0 0 repeat-y;
}

.text-categories p {
  margin: 0 0 25px;
}

.text-categories p:last-child {
  margin: 0 0;
}

.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 250px;
  width: 250px;
  padding: 25px 30px;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.item:hover .item__bg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.item__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  z-index: 5;
}

.item__icon {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.item__title {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  z-index: 2;
  font-family: pfdin, "sans-serif";
  font-size: 21px;
  font-weight: 500;
  line-height: calc(25/21);
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #ffffff;
}

.item__decor {
  position: relative;
  z-index: 2;
}

.item__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.item__bg:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.services {
  padding: 60px 0;
  background-color: #1c242a;
}

.services__header {
  margin: 0 0 40px;
}

.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 40px;
}

.service__title {
  font-family: PFDin, sans-serif;
  font-weight: 500;
  color: #ffffff;
  line-height: calc(25 / 21);
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px;
}

.service__text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 15px;
  color: #bb9c66;
  font-weight: 400;
  line-height: calc(25/21);
  text-align: center;
  margin: 0 0 35px;
}

.service__btn {
  width: 100%;
  text-align: center;
  position: relative;
  font-family: PFDin, sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: calc(25/21);
  padding: 0 15px;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
}

.service__btn:before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #bb9c66;
}

.service__btn:after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #bb9c66;
}

.service__btn span {
  background-color: #1c242a;
  position: relative;
  z-index: 2;
  padding: 0 15px;
}

.service__img {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quotes {
  margin: 65px 0;
}

.block-header {
  margin-bottom: 20px;
}

.slider-quotes__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider-quotes__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

.slider-quotes__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.6842105263%;
  flex: 0 0 33.6842105263%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

.slider-quotes__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 0 20px;
}

.slider-quotes__title {
  font-size: 25px;
  line-height: calc(30/25);
  font-style: italic;
}

.slider-quotes__info {
  font-size: 15px;
  font-weight: 400;
  line-height: calc(25/15);
}

.slider-quotes__name {
  margin: 0;
}

.slider-quotes__date {
  margin: 0;
}

.control-slider-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.control-slider-quotes__link {
  position: relative;
  z-index: 2;
  height: 50px;
  width: 50px;
  background: url("../img/quotes/refresh.png") center center no-repeat;
  cursor: pointer;
}

.control-slider-quotes__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.control-slider-quotes__decor:before {
  content: "";
  width: 107px;
  height: 1px;
  background-color: #bb9c66;
  margin-right: 10px;
}

.rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.info {
  margin-bottom: 75px;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -45px;
}

.info__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 45px;
  margin: 0 0 60px;
}

.info__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 45px;
}

.info-title {
  font-family: PFDin, sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #000000;
  line-height: calc(25/35);
  text-transform: uppercase;
  padding-left: 35px;
}

.bold {
  font-weight: bold;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.news__title {
  background: url("../img/info/news.png") 0 0 no-repeat;
  margin: 0 0 35px;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.events__title {
  background: url("../img/info/events.png") 0 0 no-repeat;
  margin: 0 0 35px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.subscribe__title {
  background: url("../img/info/subscribe.png") 0 0 no-repeat;
  margin: 0 0 30px;
}

.subscribe__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -45px;
}

.subscribe__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 0 45px;
}

.subscribe__text {
  margin: 0 0 20px;
}

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 40px;
}

.info-item__date {
  font-size: 12px;
  color: #bb9c66;
  line-height: calc(25/12);
}

.info-item__label {
  font-size: 15px;
  color: #000000;
  line-height: calc(25/15);
  text-decoration: underline;
}

.info-item__text {
  font-size: 15px;
  color: #000000;
  line-height: calc(25/15);
  margin: 0 0 40px;
}

.info-item__text:last-child {
  margin: 0;
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  border: 3px solid #bb9c66;
  background-color: #ffffff;
}

.form-subscribe__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.form-subscribe__input {
  font-size: 15px;
  height: 30px;
  padding: 0 25px;
  border: none;
  outline: none;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.form-subscribe__input:focus {
  color: #000000;
}

.form-subscribe__btn {
  font-family: PFDin, sans-serif;
  font-size: 21.5px;
  font-weight: 500;
  line-height: calc(25/21.5);
  text-transform: uppercase;
  border: none;
  outline: none;
  border-left: 2px solid #bb9c66;
  padding-left: 20px;
  padding-right: 30px;
  margin-right: 20px;
  background: url("../img/info/subscribe-arrow.png") no-repeat right center;
}

.footer {
  padding: 60px 0 55px;
  background-color: #1c242a;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__column:last-child {
  text-align: right;
}

.footer__column_full {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.footer__logo {
  display: inline-block;
  margin: 0 0 25px 0;
}

.footer__privacy {
  font-size: 14px;
  line-height: calc(21/14);
  color: #bb9c66;
  margin-bottom: 10px;
}

.footer__menu {
  padding: 0 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #ffffff;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer__list li {
  margin: 0 15px 15px 0;
}

.footer__link {
  font-family: PFDin, sans-serif;
  font-size: 14px;
  line-height: calc(25/14);
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__contacts {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 20px;
  white-space: nowrap;
  font-family: BravoRG, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: calc(25/50);
  color: #bb9c66;
  text-transform: uppercase;
}

.footer__phone small {
  margin: 2px 5px 0 0;
  font-size: 25px;
}

.footer__callback {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(21/14);
  color: #bb9c66;
  background: url("../img/footer/arrow.png") left center no-repeat;
  padding-left: 15px;
}

.footer__callback span {
  border-bottom: 1px dashed #bb9c66;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: normal;
  min-width: 320px;
  margin: 0;
  color: #000;
  background-color: #fff;
}

body.modal-active {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.fixed-container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding-top: 75px;
}

@media (min-width: 567px) {
  .control-slider-lots__link {
    background: url("../img/lots/circle.png") 0 0 no-repeat;
    margin: 0 25px;
  }

  .categories__row {
    margin: 0 -25px 85px;
  }

  .categories__row:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 50%;
    width: 17.28px;
    height: 17.28px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17.28px;
    flex: 0 0 17.28px;
    border: 1px solid #bb9c66;
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
    -ms-transform: translate(-50%, 0) rotate(-45deg);
    transform: translate(-50%, 0) rotate(-45deg);
  }

  .categories__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0 20px 25px;
  }

  .block-header {
    margin-bottom: 0;
  }

  .slider-quotes__slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .slider-quotes__body {
    margin-bottom: 0;
  }

  .slider-quotes__content {
    padding: 0;
    margin: 0 0 30px 70px;
  }

  .control-slider-quotes__decor {
    padding-right: 50px;
  }

  .control-slider-quotes__decor:before {
    margin-right: 0;
  }

  .control-slider-quotes__decor:after {
    content: "";
    border: 1px solid #bb9c66;
    padding: 5.5px;
    border-radius: 50%;
    margin-left: 5px;
  }

  .info__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .subscribe__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }

  .subscribe__text {
    margin: 0;
  }
}

@media (min-width: 576px) {
  .services__column {
    margin: 0 -25px;
  }

  .service {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 25px;
  }
}

@media (min-width: 767px) {
  .services__column {
    margin: 0 -50px;
  }

  .service {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    padding: 0 50px;
  }
}

@media (min-width: 768px) {
  .slider-lots__body {
    margin: 0 -50px 50px -50px;
  }

  .slider-lots__slide {
    padding: 0 50px;
  }

  .footer__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
  }

  .footer__column:first-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
  }

  .footer__privacy {
    margin-bottom: 0;
  }

  .footer__list {
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal;
  }

  .footer__contacts {
    display: block;
    text-align: right;
  }
}

@media (min-width: 776px) {
  .text-categories__body {
    padding: 15px 15px 15px 130px;
  }
}

@media (min-width: 991px) {
  .categories__row:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 33.333%;
    width: 17.28px;
    height: 17.28px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17.28px;
    flex: 0 0 17.28px;
    border: 1px solid #bb9c66;
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
    -ms-transform: translate(-50%, 0) rotate(-45deg);
    transform: translate(-50%, 0) rotate(-45deg);
  }

  .categories__row:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 66.666%;
    width: 17.28px;
    height: 17.28px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17.28px;
    flex: 0 0 17.28px;
    border: 1px solid #bb9c66;
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
    -ms-transform: translate(-50%, 0) rotate(-45deg);
    transform: translate(-50%, 0) rotate(-45deg);
  }

  .categories__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
  }
}

@media (min-width: 992px) {
  .user-header__link:hover {
    text-decoration: underline;
  }

  .btn:hover {
    background-color: #bb9c66;
    opacity: 0.8;
  }
}

@media (max-width: 890px) {
  .action-header__user {
    margin: 0 0 0 15px;
  }

  .action-header__region {
    padding: 0;
  }

  .action-header__span {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .menu__list {
    display: block;
    text-align: center;
  }

  .menu__item {
    margin: 0 0 30px 0;
  }

  .menu__item:last-child {
    margin: 0;
  }

  .menu__body {
    background-color: rgba(28, 36, 42, 0.95);
    position: fixed;
    height: 1px;
    width: 1px;
    left: 0;
    top: 0;
    padding: 100px 0 20px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body:after {
    content: "";
    background-color: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }

  .menu__body._open {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }

  .menu__link,
  .action-header__region {
    font-size: 24px;
  }

  .burger-menu {
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    z-index: 100;
    cursor: pointer;
    color: black;
    background: url("../icons/menu-close.svg") center center no-repeat;
    background-size: 130%;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
  }

  .burger-menu._open {
    background: url("../icons/menu-open.svg") center center no-repeat;
  }

  .action-header__region {
    display: none;
  }

  .user-header__menu {
    width: 100%;
  }

  .title__main {
    font-size: 30px;
  }
}

.webp .action-header__region{ background: url(../img/header/globe.webp) left center no-repeat; }

.webp .user-header__link_1{ background: url(../img/header/menu-glob.webp) left center no-repeat; }

.webp .user-header__link_2{ background: url(../img/header/menu-key.webp) left center no-repeat; }

.webp .user-header__link_3{ background: url(../img/header/menu-hand.webp) 4px center no-repeat; }

.webp .user-header__link_4{ background: url(../img/header/menu-hammer.webp) left center no-repeat; }

.webp .control-main-slider__arrow{ background: url(../img/main-slider/slider-arrow.webp) 2px 0 no-repeat; }

.webp .control-slider-lots__arrow{ background: url(../img/lots/arrow-prev.webp) 0 0 no-repeat; }

.webp .text-categories__body{ background: url(../img/categories/text-aside.webp) 0 0 repeat-y; }

.webp .control-slider-quotes__link{ background: url(../img/quotes/refresh.webp) center center no-repeat; }

.webp .news__title{ background: url(../img/info/news.webp) 0 0 no-repeat; }

.webp .events__title{ background: url(../img/info/events.webp) 0 0 no-repeat; }

.webp .subscribe__title{ background: url(../img/info/subscribe.webp) 0 0 no-repeat; }

.webp .form-subscribe__btn{ background: url(../img/info/subscribe-arrow.webp) no-repeat right center; }

.webp .footer__callback{ background: url(../img/footer/arrow.webp) left center no-repeat; }

@media (min-width: 567px){

  .webp .control-slider-lots__link{ background: url(../img/lots/circle.webp) 0 0 no-repeat; }
}