.header {
  background-color: #1c242a;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 75px;
}
@media (max-width: 767.98px) {
  .header__container {
    justify-content: space-between;
  }
}
.header__logo {
  width: 144px;
  z-index: 2;
}
@media (max-width: 767.98px) {
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.menu {
  flex: 1 0 auto;
  padding: 0 0 0 3.1578947368%;
}
.menu__list {
  display: flex;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .menu__list {
    display: block;
    text-align: center;
  }
}
.menu__item {
  margin: 0 15px;
}
@media (max-width: 767.98px) {
  .menu__item {
    margin: 0 0 30px 0;
  }
  .menu__item:last-child {
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .menu__body {
    background-color: rgba(28, 36, 42, 0.8);
    position: fixed;
    height: 1px;
    width: 1px;
    left: 0;
    top: 0;
    padding: 100px 0 20px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }
  .menu__body:after {
    content: "";
    background-color: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }
  .menu__body._open {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}
.menu__link, .action-header__region {
  font-family: "pfdin", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #ffffff;
}
@media (min-width: 992px) {
  .menu__link:hover, .action-header__region:hover {
    text-decoration: underline;
  }
}
@media (max-width: 767.98px) {
  .menu__link, .action-header__region {
    font-size: 24px;
  }
}

.burger-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .burger-menu {
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    z-index: 5;
    cursor: pointer;
    color: black;
    background: url("../icons/menu-close.svg") center center no-repeat;
    background-size: 130%;
    transition: background 0.3s linear;
  }
  .burger-menu._open {
    background: url("../icons/menu-open.svg") center center no-repeat;
  }
}

.action-header {
  display: flex;
  align-items: center;
}
.action-header__user {
  margin: 0 0 0 30px;
}
@media (max-width: 890px) {
  .action-header__user {
    margin: 0 0 0 15px;
  }
}
.action-header__region {
  position: relative;
  z-index: 2;
  background: url("../img/header/globe.png") left center no-repeat;
  padding-left: 30px;
  min-width: 18px;
  min-height: 18px;
}
@media (max-width: 890px) {
  .action-header__region {
    padding: 0;
  }
}
@media (max-width: 890px) {
  .action-header__span {
    display: none;
  }
}

.user-header__icon {
  display: block;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.user-header__menu {
  min-width: 175px;
  height: 165px;
  position: absolute;
  top: 88px;
  right: 0;
  padding: 20px;
  background-color: #1c242a;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.user-header__menu._active {
  top: 78px;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767.98px) {
  .user-header__menu {
    width: 100%;
  }
}
.user-header__item {
  margin: 0 0 10px 0;
}
.user-header__item:last-child {
  margin: 0;
}
.user-header__link {
  font-family: PT Sans, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding: 0 0 0 30px;
}
.user-header__link_1 {
  background: url("../img/header/menu-glob.png") left center no-repeat;
}
.user-header__link_2 {
  background: url("../img/header/menu-key.png") left center no-repeat;
}
.user-header__link_3 {
  background: url("../img/header/menu-hand.png") 4px center no-repeat;
}
.user-header__link_4 {
  background: url("../img/header/menu-hammer.png") left center no-repeat;
}
@media (min-width: 992px) {
  .user-header__link:hover {
    text-decoration: underline;
  }
}

/*# sourceMappingURL=headers.css.map */
