/* Ceremonious_one*/
@font-face {
  font-family: 'Ceremonious_one';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ceremonious_one Regular'), local('Ceremonious_one-Regular'),
  url('../fonts/ceremonious_one.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/ceremonious_one.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
